django
fabric
PIL
Pillow
south
argparse
django-appconf
django-compressor
django-debug-toolbar
django-fiber
django-mptt
django-tinymce
djangorestframework
easy-thumbnails
ecdsa
facebook-sdk
ipython
paramiko
praw
pycrypto
requests
six
sleekxmpp
sqlparse
update-checker
wsgiref
