Django==1.6.2
Fabric==1.8.3
PIL==1.1.7
Pillow==2.2.1
South==0.8.4
argparse==1.2.1
django-appconf==0.6
django-compressor==1.3
django-debug-toolbar==1.0.1
django-fiber==0.13
django-mptt==0.6.0
django-tinymce==1.5.2
djangorestframework==2.3.8
easy-thumbnails==1.4
ecdsa==0.11
facebook-sdk==1.0.0-alpha
ipython==2.0.0
paramiko==1.12.3
praw==2.1.14
pycrypto==2.6.1
requests==2.2.1
six==1.6.1
sleekxmpp==1.2.4
sqlparse==0.1.11
update-checker==0.9
wsgiref==0.1.2
